body {
  font-size: 1rem;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;    color: #333;
  background: #fff;
  color: #939393;
  margin: 0;
}

.header {
  max-width: 880px;
  margin: 0 auto;
}

.avatar {
  display: flex;
  justify-content: center;
  padding: 3rem 4rem 1rem;
}

.social-buttons {
  padding: 0 1rem 1.5rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-buttons__link {
  padding: 5px 20px;
  color: #939393
}

.title {
  font-size: 3rem;
  line-height: 0.9;
  padding: 1rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__name {
  text-transform: lowercase;
  font-weight: 300;
  box-sizing: inherit;
  font-size: 3rem;
  color: #939393;
  padding-top: 0.5rem;
}

.title__surname {
  text-transform: uppercase;
  font-weight: 700;
  color: #F8BB10;
  padding-top: 0.5rem;
}

.title__sub-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  padding-top: 1rem;
}

.about-me {
  max-width: 880px;
  margin: 0 auto;
}

.section__line {
  margin: auto;
  height: 2px;
  color: #ccc;
  background: #ccc;
  font-size: 0;
  border: 0;
}

.section {
  padding: 0 2rem;
  line-height: 1.75;
}

.section__content h4 {
  margin-bottom: 0;
}

.skills {
  margin-top: 0;
  margin-bottom: 1em;
}

.code {
  overflow: auto;
  color: #ffa5a5
}

.footer {
  max-width: 880px;
  margin: auto;
}

.footer .social-buttons {
  padding: 1rem 0;
}